logging:
  enable_console_logging: true
  enable_file_logging: false
  log_file: server.log

server:
  # Security token used to authenticate clients
  auth_token: "CHANGE_ME_SECRET_TOKEN"
  host: 0.0.0.0
  port: 4444

# Mapping: compiler_executable -> settings
compilers:
  clang++:
    default_args: [] # Flags used for all platforms
    platforms:
      win64:
        target: "x86_64-w64-mingw32"
        args: ["-static", "-fuse-ld=lld", "-static-libgcc", "-static-libstdc++"]
        # sysroot: "/usr/x86_64-w64-mingw32"
  clang:
    platforms:
      win64:
        target: "x86_64-w64-mingw32"
        args: ["-static", "-fuse-ld=lld"] 
  g++:
    platforms:
      win64:
        executable: "x86_64-w64-mingw32-g++"
        args: ["-static", "-static-libgcc", "-static-libstdc++"]
  gcc:
    platforms:
      win64:
        executable: "x86_64-w64-mingw32-gcc"
        args: ["-static", "-static-libgcc"]
